.git
.github
.gitignore
**/.gitignore
.dockerignore

.idea
.vscode
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.coverage*
**/htmlcov

**/.env
**/.env.*
**/*.pem
**/*.key
**/*.p12
**/*.pfx
docker/env
docker/.env.production

**/*.log
**/*.db
**/*.db-*
**/*.sqlite
**/*.sqlite-*
**/*.sqlite3
**/*.sqlite3-*
src/qdrant_db
src/celerybeat-schedule*
src/assets/files
src/assets/database
src/evals/**/reports/*.json

build
dist
**/*.egg-info
Miniconda3-latest-Linux-x86_64.sh
